# Переменных сборки у фронта нет. Ключ лицензии PrimeUI задаётся серверу —
# PRIMEUI_LICENSE в .env рядом с программой (см. корневой .env.example):
# страница берёт его у сервера при загрузке, в сборку он не вшивается.
